$color_1: #333;
$color_2: #fff;
$color_3: #c98702;
$color_4: #636363;
$blue: #77B6EA;
$pink: #F786AA;
$font-family_1: 'Poppins', sans-serif;

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	&:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

body {
	font-family: $font-family_1;
	font-size: 16px;
	line-height: 1.5;
	background-color: $color_4;
}

.showcase {
	padding: 24px;
	width: 100%;
	margin-top: 120px;
	h1 {
		font-size: 2.5rem;
		color: $color_2;
		text-align: center;
		padding: 1rem 0;
	}
	form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		width: 100%;

		.input, button {
			width: 500px;
		}
	}
}
form {
	select {
		font-size: 20px;
		width: 500px;
		max-width: 500px;
		padding: 1rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 1rem;
	}
	button {
		font-size: 20px;
		padding: 1rem 2rem;
		border: none;
		border-radius: 5px;
		background: #333;
		color: $color_2;
		cursor: pointer;
		margin-top: 20px;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.image {
	width: 100%;
	margin-top: 2rem;
}
img {
	display: block;
	margin: auto;
	background-color: $color_1 !important;
}
.msg {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 1rem;
}

.imageGrid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;

	img {
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
		max-width: 100%;
	}
}

#appBar {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	box-shadow: none !important;
	background: $color_1 !important;

	.navLink {
		color: $color_2;
		text-decoration: none;
		padding: 0 12px;
	}

	 .socialMediaLink {
		color: $color_2;
	}

	.appBarLogo {
		height: 60px;
	}

	.digitalClock {
		margin-right: 24px !important;
	}
}