$color_1: #333;
$color_2: #fff;
$color_3: #f9b64d;
$font-family_1: 'Poppins', sans-serif;

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	&:after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

body {
	font-family: $font-family_1;
	font-size: 16px;
	line-height: 1.5;
	color: $color_1;
	background: #f4f4f4;
}
.navbar {
	background: #333;
	color: $color_2;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul {
		list-style: none;
		display: flex;
		li {
			margin-left: 1rem;
		}
	}
	a {
		color: $color_2;
		text-decoration: none;
		font-size: 1.2rem;
		&:hover {
			color: $color_3;
		}
	}
}
.showcase {
	height: 450px;
	width: 100%;
	background: $color_3;
	h1 {
		font-size: 2.5rem;
		color: $color_1;
		text-align: center;
		padding: 1rem 0;
	}
	form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		input {
			font-size: 20px;
			width: 500px;
			max-width: 500px;
			padding: 1rem;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 1rem;
		}
	}
}
form {
	select {
		font-size: 20px;
		width: 500px;
		max-width: 500px;
		padding: 1rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 1rem;
	}
	button {
		font-size: 20px;
		padding: 1rem 2rem;
		border: none;
		border-radius: 5px;
		background: #333;
		color: $color_2;
		cursor: pointer;
		margin-top: 20px;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.image {
	width: 100%;
	margin-top: 2rem;
}
img {
	display: block;
	margin: auto;
}
.msg {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 1rem;
}
